<h1>{{ extension.name }}: {{ blueprint.name }}</h1>

{{#em-form model=this.item action="update" submit_button=false}}
  {{#each item in form}}
    {{blueprint-input type=item.type field=item.field label=item.label store=controller.store extension_id=extension.id}}
  {{/each}}

  <button type="submit" class="btn btn-primary">Update</button>
{{/em-form}}
