{{#em-form model=this action="create" submit_button=false}}
  {{em-input property="email" type="email" label="Email"}}
  {{em-input property="password" type="password" label="Password"}}
  {{em-input property="password2" type="password" label="Verify Password"}}

  <button type="submit" class="btn btn-primary">Create</button>
{{/em-form}}
