{{#em-form model=this action="create" submit_button=false}}
  {{em-input propery=email label="Email"}}
  {{em-input propery=password label="Password"}}
  {{em-input propery=password2 label="Verify Password"}}

  <button type="submit" class="btn btn-primary">Create</button>
{{/em-form}}
