<header class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Context Admin{{/link-to}}
    </div>

    <div class="collapse navbar-collapse pull-right">
    {{#if session.loggedIn}}
      <span>{{gravatar-image email=session.email size=34}}</span>
      <button class="btn navbar-btn" {{action 'logout'}}>Logout</button>
    {{/if}}
    </div>
  </div>
</header>

{{outlet modal}}
{{outlet}}