{{#if showNav}}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="main-nav">
  <div class="container-fluid">
    <button {{action 'hide_nav'}} class="navbar-toggle" data-toggle="collapse" data-target="#extension-nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="glyphicon glyphicon-chevron-up"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="extension-nav">
      <ul class="nav navbar-nav">
        {{#link-li}}
          {{#link-to 'index' }}<span class="extension-icon"></span> Home{{/link-to}}
        {{/link-li}}
        {{#link-li}}
          {{#link-to 'items' 'blog' 'posts'  }}<span class="extension-icon"></span> Blog{{/link-to}}
        {{/link-li}}
        {{#link-li}}
          {{#link-to 'users' }}<span class="extension-icon"></span> Users{{/link-to}}
        {{/link-li}}
        {{#link-li}}
          {{#link-to 'groups' }}<span class="extension-icon"></span> Groups{{/link-to}}
        {{/link-li}}
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-search"></span><span class="sr-only">Search</span></a></li>
      </ul>
      
    </div>
  </div>
</nav>
{{/if}}

{{#view 'window'}}
  {{outlet modal}}
  {{outlet}}
{{/view}}