{{#context-window}}
  
  {{#context-header}}
    {{#context-toolbar}}
      {{#link-to 'index' class="navbar-brand"}}Context Admin{{/link-to}}
    {{/context-toolbar}}
  {{/context-header}}
  
  {{outlet modal}}
  {{outlet}}
  
{{/context-window}}

{{#if session.loggedIn}}
  <span>{{gravatar-image email=session.email size=34}}</span>
  <button class="btn navbar-btn" {{action 'logout'}}>Logout</button>
{{/if}}
