<header class="navbar navbar-default">
  <div class="navbar-header">
    {{#link-to 'index' class="navbar-brand"}}Context Admin{{/link-to}}
  </div>
</header>

<nav class="sidebar">
  {{context-nav route='extension' links=this class="nav-pills nav-stacked"}}
</nav>

<section class="pane">
  {{outlet}}
</section>
