<h1>{{ extension.name }}: {{ blueprint.name }}</h1>

{{#em-form model=this.item_data action="create" submit_button=false}}
  {{em-input property="test" label="Testing"}}
  {{em-text property="test2" label="Testing 2"}}

  <button type="submit" class="btn btn-primary">Create</button>
{{/em-form}}
