<h1>{{ model.extension.name }}: {{ model.blueprint.name }}</h1>

<form class="form-inline" role="form" {{action "create" on="submit"}}>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
