{{#each extension in model.extensions}}
<div>
  <input type="checkbox" {{action "toggle_extension" extension}}>
  {{extension.name}}

  {{#each blueprint in extension.blueprints}}
  <div>
    <input type="checkbox" {{action "toggle_blueprint" blueprint}}>
    {{blueprint.name}}
  </div>
  {{/each}}
</div>
{{/each}}
