<h1>{{ extension.name }}: {{ blueprint.name }}</h1>

{{#em-form model=this.item action="update" submit_button=false}}
  {{#each form}}
    {{blueprint-input type property=field label=label}}
  {{/each}}

  <button type="submit" class="btn btn-primary">Update</button>
{{/em-form}}
